.testimonials {
    background: url(../images/Athletes/bg.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.heading-agileinfo {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}

.heading-agileinfo span {
    margin-top: 1em;
    letter-spacing: 2px;
    color: #cc2105;
}

/* 响应式布局 */
@media (max-width:900px) {
    .mis-slider {
        height: 220px;
    }

    .mis-slide {
        height: 230px;
    }

    .mis-slider {
        margin-top: 2em;
    }
}

@media (max-width:480px) {
    .mis-slider figcaption span:before {
        left: 8%;
    }

    .mis-slider {
        height: 185px;
    }
}

@media (max-width:414px) {
    .mis-slider figcaption span {
        padding-left: 2.5em;
    }

    .mis-slider {
        margin-top: 0em;
    }
}

@media (max-width:384px) {
    .mis-slider figcaption span:before {
        left: 5%;
    }
}

@media (max-width:320px) {
    .mis-slider figcaption span {
        font-size: 13px;
    }
}

@media (max-width:900px) {
    .mis-stage {
        height: 360px !important;
    }
}

@media (max-width:667px) {
    .mis-nav-list {
        bottom: 0em;
    }
}

@media (max-width:480px) {
    .mis-stage {
        height: 340px !important;
    }
}

@media (max-width: 414px) {
    .mis-stage {
        height: 310px !important;
    }
}