/*  Responsive Css */

@media only screen and (max-width: 5000px){
  
  .boxed_wrapper{
    overflow-x: hidden;
  }

}

@media only screen and (max-width: 1200px){
	
	.classes-section .inner-block .lower-content li:before{
	  display: none;
	}
	
	.classes-section .inner-block .lower-content {
	  padding: 34px 30px 37px 30px;
	}
	
	.sport-details .sport-details-content h3{
	  display: block;
	  margin-right: 0px;
	  margin-bottom: 10px;
	}
	
}

@media only screen and (max-width: 991px){
	
	.classes-section .inner-block{
	  margin-bottom: 30px;
	}
	
	.classes-section{
	  padding-bottom: 120px;
	}
	
	.athletes-block .inner-box{
	  margin-bottom: 30px;
	}
	
	.sport-details .sport-details-content{
	  margin: 0px 0px 50px 0px;
	}
}

@media only screen and (max-width: 767px){
	
	.sec-pad{
	  padding: 64px 0px 70px 0px;
	}
	
	.sport-details{
	  padding: 70px 0px;
	}
	
	.classes-section,
	.its-athletes{
	  padding-bottom: 40px;
	}
}

@media only screen and (max-width: 599px){
	
	.sec-title h1{
	 font-size: 35px;
	 line-height: 40px;
	}
	
}

@media only screen and (max-width: 499px){
	
	.sport-details .sport-details-sidebar .inner-box{
	  padding-left: 20px;
	  padding-right: 15px;
	}
	
}
