/* use font link */

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

/* use style sheet */

@import url(flaticon.css);

/***

====================================================================
  Reset
====================================================================

 ***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}


/***

====================================================================
  Global Settings
====================================================================

 ***/

body {
    font-size: 15px;
    color: #848484;
    line-height: 26px;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-font-smoothing: antialiased;
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
        padding: 0px;
    }
}

.container-fluid {
    padding: 0px;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.small-container {
    max-width: 680px;
    margin: 0 auto;
}


ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

input {
    transition: all 500ms ease;
}



p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #615e5d;
    margin-bottom: 0px;
    font-style: normal;
    transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-family: "MPLUSRounded1c", sans-serif;
    color: #2b3c6b;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;
}

.centred {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.gray-bg {
    background: #f2f1f0;
}


.sec-pad {
    padding: 144px 0px 150px 0px;
}

figure {
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}




/** sec-title **/

.sec-title h5 {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    color: #ff7162;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    margin-bottom: 13px;
    padding: 0px 50px 0px 50px;
}

.sec-title h5:before {
    position: absolute;
    content: '';
    background: #ff7162;
    width: 30px;
    height: 2px;
    left: 0px;
    bottom: 11px;
}

.sec-title h5:after {
    position: absolute;
    content: '';
    background: #ff7162;
    width: 30px;
    height: 2px;
    right: 0px;
    bottom: 11px;
}

.sec-title.style-two h5:after {
    display: none;
}

.sec-title.style-two h5 {
    padding-right: 0px;
}

.sec-title h1 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    color: #2b3c6b;
}



/** gallery-section **/

.gallery-section {
    position: relative;
    display: block;
    background: #f2eee9;
    padding-left: 100px;
    padding-right: 100px;
}



/** activities-section **/

.activities-section {
    position: relative;
    display: block;
    padding: 144px 0px 100px 0px;
}

.activities-section .sec-title {
    margin-bottom: 12px;
}

.activities-section .title-box {
    margin-bottom: 65px;
}


/*Icons 图标占位*/
.activities-section .inner-box .single-item {
    position: relative;
    display: block;
    margin-bottom: 45px;
}

.activities-section .inner-box .single-item .icon-box {
    position: relative;
    display: inline-block;
    font-size: 65px;
    line-height: 65px;
    color: #fbb419;
    margin-bottom: 22px;
}

/*Image beside icons 图标旁边的色块*/
.activities-section .inner-box .single-item .icon-box:before {
    position: absolute;
    content: '';
    background: url(../../images/athletes_details_images/icons/icon-3.png);
    width: 65px;
    height: 70px;
    right: -30px;
    top: -2px;
    background-repeat: no-repeat;
    transition: all 500ms ease;
}

.activities-section .inner-box .column:nth-child(2) .single-item .icon-box:before {
    position: absolute;
    content: '';
    background: url(../../images/athletes_details_images/icons/icon-5.png);
    width: 63px;
    height: 72px;
    right: -30px;
    top: -2px;
    background-repeat: no-repeat;
}

.activities-section .inner-box .column:nth-child(3) .single-item .icon-box:before {
    position: absolute;
    content: '';
    background: url(../../images/athletes_details_images/icons/icon-2.png);
    width: 64px;
    height: 70px;
    right: -30px;
    top: -2px;
    background-repeat: no-repeat;
}

.activities-section .inner-box .column:last-child .single-item .icon-box:before {
    position: absolute;
    content: '';
    background: url(../../images/athletes_details_images/icons/icon-1.png);
    width: 56px;
    height: 71px;
    right: -30px;
    top: -2px;
    background-repeat: no-repeat;
}

/*Change color 更改图标颜色*/
.activities-section .inner-box .column:nth-child(2) .single-item .icon-box {
    color: #b350ff;
}

.activities-section .inner-box .column:nth-child(3) .single-item .icon-box {
    color: #43b3d9;
}

.activities-section .inner-box .column:last-child .single-item .icon-box {
    color: #ff7162;
}

.activities-section .inner-box .single-item:hover .icon-box:before {
    transform: rotate(25deg);
}

/*Background box 背景盒子*/
.activities-section .image-box {
    position: relative;
    display: block;
    margin-left: 70px;
    margin-top: 225px;
}

.activities-section .image-box .image {
    position: relative;
    display: block;
    float: left;
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .1);
}

.activities-section .image-box .image:before {
    position: absolute;
    content: '';
    background: #9be9ff;
    height: 290px;
    width: 290px;
    top: -110px;
    right: -110px;
    border-radius: 20px;
    z-index: -1;
}

.activities-section .image-box .image img {
    width: 100%;
    border-radius: 20px;
}



/** .activities-style-two **/

.activities-section.style-two {
    position: relative;
}

.activities-section.style-two .image-box {
    margin: 120px 70px 0px 110px;
}

.activities-section.style-two .image-box .image:before {
    right: 205px;
    background: #d9f0f7;
    height: 400px;
}




/***

====================================================================
                        Classes-Page
====================================================================

***/

.classes-page-section {
    position: relative;
    padding: 150px 0px 120px 0px;
}

.classes-page-section .inner-block {
    margin-bottom: 30px;
}

.class-details {
    position: relative;
    display: block;
    padding: 144px 0px 143px 0px;
}

.class-details .inner-box .sec-title {
    margin-bottom: 33px;
}

.class-details .inner-box .bold-text {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #2b3c6b;
    margin-bottom: 28px;
    margin-top: 28px;
}

.class-details .inner-box .upper-content {
    position: relative;
    display: block;
    margin-bottom: 36px;
}

.class-details .inner-box .upper-content.image-box {
    position: relative;
    display: block;
    margin-bottom: 67px;
    padding-top: 47px;
}

.class-details .inner-box .lower-content h3 {
    position: relative;
    display: block;
    font-size: 30px;
    color: #2b3c6b;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 23px;
}

.class-details .inner-box .upper-content .image-box img {
    width: 100%;
}

.class-details .inner-box .lower-content .text p {
    position: relative;
    display: block;
    margin-bottom: 26px;
}

.class-details .inner-box .lower-content .image-box {
    position: relative;
    display: block;
    margin-bottom: 67px;
    padding-top: 47px;
}

.class-details .inner-box .lower-content .image-box img {
    width: 100%;
}

.class-details .class-details-content {
    position: relative;
    display: block;
    margin-right: 20px;
}

.class-details .inner-box .lower-content .list li {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding: 0px 0px 0px 17px;
}

.class-details .inner-box .lower-content .list li:before {
    position: absolute;
    content: '';
    background: #ff7162;
    height: 6px;
    width: 6px;
    left: 0px;
    top: 12px;
    border-radius: 50%;
}

.class-details .inner-box .lower-content .list li:last-child {
    margin-bottom: 0px;
}

.class-details .inner-box .lower-content .list {
    position: relative;
    display: block;
    padding-top: 8px;
}

.class-details .class-details-sidebar .inner-box {
    position: relative;
    display: block;
    background: #f1efe8;
    padding: 44px 40px 23px 40px;
    border-radius: 20px;
}

.class-details .class-details-sidebar .inner-box h3 {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #2b3c6b;
    font-weight: 900;
    margin-bottom: 15px;
}

.class-details .class-details-sidebar .inner-box .text {
    position: relative;
    display: block;
    margin-bottom: 27px;
}

.class-details .class-details-sidebar .inner-box .info-list li {
    position: relative;
    display: block;
    margin-bottom: 19px;
    padding-bottom: 19px;
    border-bottom: 1px dashed #cdccc5;
}

.class-details .class-details-sidebar .inner-box .info-list li:last-child {
    border: none;
    margin-bottom: 0px;
}

.class-details .class-details-sidebar .inner-box .info-list li h5 {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #2b3c6b;
    font-weight: 700;
}

.class-details .class-details-sidebar .inner-box .info-list li span {
    position: relative;
    display: block;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 26px;
    color: #ff7162;
    font-weight: 700;
}