.box-title{
	font-size: 60px;
	
	margin-top: 50px;
}

.athlete{
	background-color: rgba(128, 128, 128, 0.15);
	
	margin-right: 2px;
	margin-left: 2px;
}

.athlete-pic{
	width: 140px;
	height: 140px;
}